.btn {
  border: outset;
  border-color: unset; 
  box-shadow: 3px 3px 5px 0 #000;
}

.main-wrapper {
    height: 100%;
}

.mat-card-title {
    padding-bottom: 25px;
}

.forgot-password-full-width {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main-wrapper .forgot-password-form {
    min-width: 100%;
    max-width: 520px;
    width: 100%;
}

.button-flex-container {
    padding-top: 25px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.forgot-password-card {
    background-color: rgba(158, 171, 255, 0.92);
    position: relative;
    top: 0;
    float: left;
    padding: 60px 50px 40px 50px;
    width: 100%;
    border-radius: 25px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
    max-width: 320px;
}

.login-card.back {
    transform: scale(.95);
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    top: -20px;
    opacity: .8;
    z-index: -1;
}


.main-wrapper .forgot-password-full-width,
.main-wrapper .btn-block {
    width: 100%;
}

.main-wrapper mat-card-header {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 700;
}

.main-wrapper mat-card-header mat-card-title {
    font-size: 30px;
    margin: 0;
}


.main-wrapper .mat-strocked-button {
    border: 1px solid currentColor;
    line-height: 54px;
    background: #FFF7FA;
}

.main-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.8375em 0;
}

.forgot-link {
    margin-right: 20px;
    color: blue;
}