<div class="container pt-5">
    <div class="row my-5 pb-5 container">
        <div class="col-lg-12 col-md-12 pb-5">
            <!-- Card -->
            <div class="row mt-4 mb-5" fxLayout fxLayoutAlign="center">
                <h4 class="justify-content-center">Specialized Output Devices and Their Applications</h4>
            </div>

            <div fxLayout="row">
                <div fxLayout="row" fxFlex="100%" fxFlex.gt-sm="100%" class="mt-4 mb-5">
                    <mat-card class="col-md-12">

                        <div class="my-4">
                            <p>
                                Finding specialized output devices and their applications was not easy to find but
                                the
                                following website describes a few of them
                            </p>

                            <a href="https://kullabs.com/class-11/computer-science-1/computer-system/output-devices-1">
                                https://kullabs.com/class-11/computer-science-1/computer-system/output-devices-1
                            </a>
                        </div>
                        <hr>
                        <div class="my-4">

                            <p>
                                The following website is occulus which is VR.
                            </p>

                            <a href="https://www.oculus.com/">
                                https://www.oculus.com/
                            </a>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>