<div class="container pt-5">
    <div class="row my-5 pb-5">
        <div class="col-lg-12 col-md-12 emerging-page">
            <!-- Card -->

            <div class="row mt-4 mb-5" fxLayout fxLayoutAlign="center">
                <h4 class="justify-content-center">Emerging Interface Concept and Technologies</h4>
            </div>

            <div fxLayout="row">
                <div fxLayout="row" fxFlex="100%" fxFlex.gt-sm="100%" class="mt-3 mb-5">
                    <mat-card class="col-md-12">
                        <div class="my-4">
                            <p>
                                The following website descibes 8 next-generation user interface
                            </p>

                            <ul>
                                <li>Gesture Interface</li>
                                <li>Brain-Computer Interface</li>
                                <li>Flexible OLED Display</li>
                                <li>Augmented Reality (AR)</li>
                                <li>Voice User Interface (VUI)</li>
                                <li>Tangible User Interface (TUI)</li>
                                <li>Wearable Computer</li>
                                <li>Sensor Network User Interface (SNUI)</li>
                            </ul>

                            <a href="https://www.hongkiat.com/blog/next-gen-user-interface/">
                                https://www.hongkiat.com/blog/next-gen-user-interface/
                            </a>

                        </div>
                        <hr>
                        <div class="my-4">

                            <p>
                                The following website descibes multiple interface technologies
                            </p>
                            <ul>
                                <li>Auditory Feedback</li>
                                <li>Haptic Technology</li>
                                <li>Gestural Interfaces</li>
                                <li>Augmented Reality</li>
                            </ul>

                            <a href="https://cpoinnovation.com/emerging-user-interface-technologies/">
                                https://cpoinnovation.com/emerging-user-interface-technologies/
                            </a>
                            <br>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>