<!-- Footer -->
<footer class="page-footer font-small unique-color-dark sticky-bottom stars pt-5">  
 
    <!-- Footer Text -->
    <div class="container text-center text-md-left">


        <!-- Grid row -->
        <div class="row py-4 d-flex align-items-center">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold">Useful Links</h5>
                <p class="pt-2"><a routerLink="../privacy-policy" routerLinkActive="active">Privacy Policy</a></p>
                <p><a routerLink="../terms-and-conditions" routerLinkActive="active">Terms and Conditions</a></p>
                <p><a routerLink="../cookies-policy" routerLinkActive="active">Cookies Policy</a></p>
            </div>
            <!-- Grid column -->


            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold">Contact</h5>

                <p class="pt-2">
                    <a routerLink="../contact-form">Contact Form</a>
                </p>
                <p>
                    xcore.web.development@gmail.com
                </p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a href="https://x-coreweb.com"> X-Coreweb.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->