table {
    width: 1080px;
}

.mat-column-itemTitle {
    width: 40% !important;
}

.mat-column-category {
    width: 40% !important;
}

.mat-column-update {
    width: 10% !important;
    text-align: center !important;
}

.mat-column-delete {
    width: 10% !important;
    text-align: center !important;
}

th.mat-header-update {
  text-align: center !important;
}

th.mat-header-delete {
  text-align: center !important;
}