<div class="col-lg-12 col-md-12 pb-2">
    <div class="row mt-4 mb-2" fxLayout fxLayoutAlign="center">
        <h4 class="justify-content-center">Medias</h4>
    </div>

    <br><br>

    <div fxLayout="row" fxLayoutAlign="space-around center">
        <mat-form-field appearance="outline" class="col-md-6">
            <mat-label>Search</mat-label>
            <input matInput type="text" (keyup)="doFilter($event.target.value)">
        </mat-form-field>

        <div class="col-md-4"></div>

        <a routerLink="/rental-project/medias/add" class="btn-style-sm green mb-2">
            <mat-icon>person_add</mat-icon>
        </a>
    </div>

    <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-index">

            <ng-container matColumnDef="itemTitle">
                <th mat-header-cell *matHeaderCellDef>Item Title</th>
                <td mat-cell *matCellDef="let element">{{element.itemTitle}}</td>
            </ng-container>

            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef>Item Category</th>
                <td mat-cell *matCellDef="let element">{{element.category}}</td>
            </ng-container>

            <ng-container matColumnDef="update">
                <th mat-header-cell *matHeaderCellDef>Update</th>
                <td mat-cell *matCellDef="let element">
                    <a class="btn-style-sm orange" routerLink='/rental-project/medias/edit/{{element.mediaId}}'>
                        <mat-icon>edit</mat-icon>
                    </a>
                </td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> Delete </th>
                <td mat-cell *matCellDef="let element">
                    <button (click)="deleteData(element.mediaId)" class="btn-style-sm red" type="link">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
        </table>
        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25]" class="mat-elevation-z8"></mat-paginator>
    </div>
</div>