.mat-toolbar {
  background: inherit;
  justify-content: center;
}

.position-fixed {
    top: 0;
    position: fixed;
    z-index: 1;
}

.fixed {
  position: absolute;
  background-color: transparent !important;
  top: 0;
  left: 0;
  z-index: 5;
  align-content: center;
}

.app-sidenav-container {
  flex: 1;
}

.main-panel {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.menu-spacer {
    flex: 1 1 auto;
}

.theme-check {
  color: white;
  font-size: 3.2em;
}