<section [ngClass]="themeClass" *ngIf="showHeader">
  <div fxLayout="row">
    <div fxLayout="row" fxFlex="100%" fxFlex.gt-sm="100%">


      <mat-toolbar color="primary" class="fixed">
        <mat-toolbar-row>
          <img src="../../../assets/img/X-Core-Light.Logo.PNG" height="60" alt="">
          <h1 class="display-3" style="margin-left: 50px; margin-right: 50px;">X-Core Web</h1>
          <ul class="navbar-nav ml-auto">
            <li class="sidenav-toggle nav-item">
              <div class="xcore-icons xcore-icons--vortex" [ngClass]="{'is-active' : opened}" (click)="clicked()">
                <div class="xcore-icons-box">
                  <div class="xcore-icons-inner"></div>
                </div>
              </div>
            </li>
          </ul>

          <span class="menu-spacer"></span>

          <!-- Drop down menu -->
          <!-- Drop down menu -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngIf="!isUserAuthenticated">
              <a class="nav-link waves-light" style="color: white;" routerLink="/authentication/login">
                <mdb-icon fas icon="sign-in-alt"></mdb-icon>
                &nbsp; Login
              </a>             
            </li>
            <li class="nav-item dropdown" dropdown *ngIf="isUserAuthenticated">
                <a dropdownToggle mdbWavesEffect [matMenuTriggerFor]="menu" type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <mdb-icon fas icon="user"></mdb-icon>
                    &nbsp; Account
                </a>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="/profile" routerLinkActive="active">
                        <mdb-icon fas icon="user-edit"></mdb-icon>
                        &nbsp; Profile
                    </button>
                    <button mat-menu-item routerLink="/admin" routerLinkActive="active">
                        <mdb-icon fas icon="user-tie"></mdb-icon>
                        &nbsp; Admin 
                    </button>
                    <button mat-menu-item routerLink="/authentication/register" routerLinkActive="active">
                      <mdb-icon fas icon="user-plus"></mdb-icon>                      
                      &nbsp; Register 
                    </button>
                    <button mat-menu-item routerLink="/privacy" routerLinkActive="active">
                      <mdb-icon fas icon="user-lock"></mdb-icon>                     
                      &nbsp; Privacy 
                    </button>
                    <mat-divider></mat-divider>
                    <button mat-menu-item (click)="logout()">
                        <mdb-icon fas icon="sign-out-alt"></mdb-icon>
                        &nbsp; Logout 
                    </button>
                </mat-menu>
            </li>
          </ul>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </div>
</section>

<!-- Main Content -->
<section [ngClass]="{'dark-theme': isDarkTheme | async}" fxLayout="column" fxFlexFill>
<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidebar class="app-sidenav mat-elevation-z10" mode="side" [opened]="!opened" *ngIf="showSidebar">
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content class="main-panel">
    <div class="wrapper">
      <!-- subnav router outlet -->
      <router-outlet name="subnav"></router-outlet>
      <router-outlet></router-outlet>

      <app-comments *ngIf="showFooter"></app-comments>
      <app-footer *ngIf="showFooter"></app-footer>   
    </div>

    <app-customizer *ngIf="showCustomizer"></app-customizer>
     
  </mat-sidenav-content>
</mat-sidenav-container>
</section>