<div class="position-relative">
    <div class="main-wrapper align-middle" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="login-card">
            <mat-card-header>
                <mat-card-title>
                    <h2>Login</h2>
                </mat-card-title>
            </mat-card-header>


            <mat-card-content class="login-form">
                <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">

                    <mat-form-field class="login-full-width">
                        <mat-label>Email</mat-label>
                        <input class="full-width" matInput formControlName="email" required>
                        <mat-icon matSuffix> mail_outline</mat-icon>
                        <!-- <mat-error *ngIf="username.invalid">{{getErrorMessage()}}</mat-error> -->
                    </mat-form-field>

                    <mat-form-field class="login-full-width">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <!-- <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error> -->
                    </mat-form-field>

                    <mat-card-actions>
                        <div class="row d-flex justify-content-end">
                            <small>
                                <a class="forgot-link" [routerLink]="['/authentication/forgotpassword']">Forgot Password?</a>
                            </small>
                        </div>
                    </mat-card-actions>



                    <mat-card-actions>
                        <div class="button-flex-container">
                            <button mdbBtn type="submit " class="btn-sm" gradient="intuitive-purple" style="color: white;"
                                rounded="true" mdbWavesEffect>
                                Login
                            </button>
                        </div>
                    </mat-card-actions>

                    <mat-card-actions>
                        <div class="row d-flex justify-content-end">
                            <small>
                                <a class="forgot-link" routerLink="../../home">Return</a>
                            </small>
                        </div>
                    </mat-card-actions>

                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
