<div class="row mt-4 mb-5" fxLayout fxLayoutAlign="center">
    <h4 class="justify-content-center">Introduction</h4>
</div>


<div fxLayout="row">
    <div fxLayout="row" fxFlex="100%" fxFlex.gt-sm="100%" class="mt-3 mb-5">
        <mat-card class="col-md-12">
            <div class="my-4">
                <p>
                    The following section was built for class COMP200 (Introduction to Computing and Information Systems)
                </p>

                <p>
                    The task was of this project was to design a normalized database that could be used to collect and store information for a video rental outlet.
                    The database is structured to support the following tasks:
                </p>

                <ul>
                    <li>Tracking rentals by title and by customers</li>
                    <li>Producing reports, such as rentals due on a certain date</li>
                    <li>Categorizng rentals by media type (e.g., Blu-Ray, DVD, Game)</li>
                </ul>

                <p>
                    Although the assigment did not require to produce examples of the reports listed, but only that the database be correctly structured to allow the query and reporting features of a DBMS.
                </p>

                <h5 class="justify-content-center">Requirements</h5>

                <p>4 database tables populated with records</p>

                <ul>
                    <li>Customers - At least 10</li>
                    <li>Categories - 3 records, one describing each of the media types: DVD, Blu-Ray, or Game</li>
                    <li>Media - At least 30 records, representing a selection of DVD movies, Blu-Ray movies, and Games</li>
                    <li>Rentals - At least 20</li>
                </ul>

                <p>
                    I implemented CRUD functionality to the (Working Database) section which also covers searching functionality.
                </p>

                <br>
                <hr/>
                <br>

                <h5 class="justify-content-center">About me</h5>
                <p>
                    I have a collegial diploma in C# Programming, which was mostly focused on console applications and windows applications. In this class I also had an introduction to database (Microsoft SQL Server). In the past 6-7 years I have worked on multiple projects as a hobby.
                    I have become passionate about coding and decided that even though I have a great paying job, I hate it and want to change career. I started off web development with ASP.NET Core Web App (Razor Pages). About a year ago,
                    I started learning Angular as front end because of the limitations in visual effects and animations of razor pages. 
                </p>

                <p>
                    This website is built with ASP.NET Core 5 (Web Api) and Angular 11. The DBMS I am using is Microsoft SQL Server Express 2019. I use Visual Studio 2019 Community Edition for the back-end and Visual Studio Code for the front-end.
                    I have also protected sensitive information with the use of Authentication and Authorization using Identity Server Model.
                </p>

                <p>
                    I originally started this class in January, but got suspended due to OSAP fundings not being released because of missing documents. I regained access to the course information in mid May and started working on this project since I cannot send any other work before June 1st.
                </p>
            </div>
        </mat-card>
    </div>
</div>