@import './assets/scss/gradients.scss';
@import './assets/scss/themes.scss';
@import './assets/scss/spinner.scss';

@import './assets/scss/components/buttons';

@import './assets/scss/animations/xcore-icons.scss';

// global styles
a { cursor: pointer; }

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}