table {
    width: 1080px;
}

.mat-column-description {
    width: 80% !important;
}

.mat-column-update {
    width: 10% !important;
    text-align: center !important;
}

.mat-column-delete {
    width: 10% !important;
    text-align: center !important;
}

.categories-page {
    margin-bottom: 15em;
}

th.mat-header-update {
  text-align: center !important;
}

th.mat-header-delete {
  text-align: center !important;
}

